<div class="container">
  {{#if contacts.length}}
    {{#each contacts as |contact|}}
      <div class="row">
        <div class="col">
          {{contact.userName}} |
          {{contact.firstName}} |
          {{contact.lastName}}
          . . .
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>
<script src="/js/contacts.js"></script>