<h4 class="m-2 text-center">Join a Chat Room</h4>

<ul class="nav nav-pills d-flex justify-content-center">
  <br />
  <br /
  {{!-- room 1> --}}
  <li class="nav-item">

    <div class="nest">
      <a class="rooms" href="/user/{{username}}/room/room1">
        <img src="images/Rooms/1Room.png" width="190px" alt="" />
      </a>
    </div>
  </li>
  <br />
  <br />
  {{!-- room 2 --}}
  <li class="nav-item">
    <div class="nest">
      <a class="rooms" href="/user/{{username}}/room/room1">
        <img src="images/Rooms/2Room.png" width="190px" alt="" />
      </a>
    </div>
  </li>
  <br />
  
{{!-- room 3 --}}
  <li class="nav-item">
    <div class="nest">
      <a class="rooms" href="/user/{{username}}/room/room1">
        <img src="images/Rooms/3Room.png" width="190px" alt="" />
      </a>
    </div>
  </li>
  <br />
  <br />
  {{!-- room 4 --}}
  <li class="nav-item">
    <div class="nest">
      <a class="rooms justify-content-center" href="/user/{{username}}/room/room1">
        <img src="images/Rooms/4Room.png" width="190px" alt="" />
      </a>
    </div>
  </li>
</ul>