<h4>Join a Chat Room</h4>

<ul class="nav nav-pills flex-column">
  <br>
  <br>
  <li class="nav-item">
    <a class="nav-link active" href="/user/{{username}}/room/room1">Room 1</a>
  </li>
  <br>
  <br>
  <li class="nav-item">
    <a class="nav-link active" href="/user/{{username}}/room/room2">Room 2</a>
  </li>
  <br>
  <br>
  <li class="nav-item">
    <a class="nav-link active" href="/user/{{username}}/room/room3">Room 3</a>
  </li>
  <br>
  <br>
  <li class="nav-item">
    <a class="nav-link active" href="/user/{{username}}/room/room4">Room 4</a>
  </li>
</ul>