{{#each users as |user| }}
<div class="container text-center mt-3">
  <div class="row">
    <h2 class="col-sm-3 p-3 text-warning bg-dark border border-dark border-start-0 rounded-end-">{{user.name}}</h2>
    <h5 class="col-sm-9 p-3 bg-warning border border-warning"><a href="mailto:{{user.email}}" class="text-dark">{{user.email}}</a></h5>
  </div>
</div>
{{/each}}