<div class="container">
  <div class="form-floating mb-3 mt-3">
    <input type="email" class="form-input" id="email-login" placeholder="name@example.com">
    <label for="email-login">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password-login" placeholder="Password">
    <label for="password-login">Password</label>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="submit" value="Submit" class="btn btn-warning btn-lg mt-3">Login</button>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="submit" value="Submit" class="btn btn-warning btn-lg mt-3">Sign-Up</button>
  </div>
</div>

<script src="../public/js/login.js"