{{! need to put this button link somewhere in nav bar }}
{{! <a href="/allchats">All Chats</a> }}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/user/{{generate_random_user_id}}/room/room1">Room
      1</a>
  </li>
  {{! use when ready for room 2 }}
  {{! <li class="nav-item">
    <a class="nav-link" href="/user/:user_id/room/room2">Room 2</a>
  </li> }}

  {{#each users as |user|}}
    <div class="container text-center mt-3">
      <div class="row">
        <h2
          class="col-sm-3 p-3 text-warning bg-dark border border-dark border-start-0 rounded-end-"
        >{{user.userName}}</h2>
        <h5 class="col-sm-9 p-3 bg-warning border border-warning"><a
            href="mailto:{{user.email}}"
            class="text-dark"
          >{{user.email}}</a></h5>
      </div>
    </div>
  {{/each}}

</ul>