.contacts {
  background-color: #ffff56;
  color: black;
}

.back {
  background-color: #ffff56;
  color: black;
}

.logout {
  background-color: #ffff56;
  color: black;
}
.owl {
  margin-inline: auto;
}

.egg {
  width: 40px;
  padding: 0;
  margin: 0;
}

.navbar {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.room {
  justify-content: center;
  background-color: #ffff56;
  color: black;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 0.375rem;
}

.room:hover {
}
.nest {
  position: relative;
  width: fit-content;
}

body {
  background-color: #343a40;
  background-image: linear-gradient(to right, #343a40, #495057);
}

.theBody {
  background-color: #343a40;
}

.message {
  text-align: end;
  padding-right: 2rem;
  border-radius: 3.9rem;
  margin-block: 1rem;
}

#messagesInput {
  width: 75%;

  margin: 0.5rem;
  border-style: none;
  border-radius: 3%;
  padding: 0.4rem;
  border-radius: 5.9rem;
}

.messageBtn {
  border-radius: 50%;
}
